
<DOCTYPE>

    <html>
    
    
    <head>

        <link rel="stylesheet" href="../static/stylesheet.css">
        <center>
           
            <h1>  API </h1>
            <h2>  Sonatel </h2>
            <h3>  Prédiction de la satisfaction cliente </h3>
        </center>
        
    </head>
        
    <body > 
        <center>
        <div class="navbar">

           <li> <a href="/Visualisation">Visualiser le jeu de données</a> </li>
           <li><a href="/Résultats">Estimer une satisfaction cliente</a></li>
           <li><a href="/Tests">Tester le modèle </a></li>

    
        </div>


        

        </center>
          
    </body>
    </html>
    </DOCTYPE>