<DOCTYPE >
<html>
<head>
  <title>Données</title>
  <head>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>

</head>
<body>
 
    

    <center>

    <h1>Segmentation</h1>
    <img src="../static/matrix_kmeans.png" alt="exemple" height="950" width="950">

    <h1>Matrice de corrélation</h1>
    <img src="../static/matrix_cor_cible.png" alt="exemple" height="900" width="900">

    <form  method="POST" action="/">
    <button type ="submit">  Retour </button>



   </center>





</form>

</body>

</html>

</DOCTYPE>